html {
  /**background: url(../images/37.png) no-repeat center center fixed;
  background-size: 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-color: black;**/
}

h1 {
  display: block;
  margin: 20px auto;
  font-size: 2em;
  font-weight: bold;
}
h1 span {
  font-size: 0.6em;
  font-weight: normal;
}
p {
  margin: 0.5em 0;
  display: block;
  width: 80%;
}

header {
  display: block;
  min-height: 20%;
  text-align: center;
}
#main_logo {
  margin-left: 5%;
  margin-top: 2%;
  max-width: 15%;

}

#slogan {
  font-size: 3em;
  font-family: 'Droid Sans'; 
  font-style: normal;
  margin: auto 0% auto 10%;
  width: 100%;
  vertical-align: center;
}

.centered {
  float: none !important;
  margin: 0 auto !important;
}

nav ul {
  width: 100%;
  margin: auto;
}

nav li {
  float: none !important;
  margin: 0 auto;
  display: inline-block !important;
}

.todo {
  font-weight: bold;
  color: #840B0B;

}
