html {
  background: url(../images/37.png) no-repeat center center fixed;
  /**background-size: 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; **/
  background-size: contain;
  background-color: black;
}

main {
  display:block;
  margin: 0 auto;
}
