html {
  /**background: url(../images/37.png) no-repeat center center fixed;
  background-size: 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-color: black;**/
}

#main_logo {
  margin-left: 5%;
  margin-top: 2%;
  max-height: 30%;
  max-width: 30%;

}

#slogan {
  font-size: 3em;
  font-family: 'Droid Sans'; 
  font-style: normal;
  margin: auto 0% auto 10%;
  width: 100%;
  vertical-align: center;
}

.centered {
  float: none !important;
  margin: 0 auto !important;
  display: inline-block !important;
}
