<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>37 ry</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />
  </head>

  <body>
    <div id="container">
      <header id="siteHeader">
      <div id="logo_block">
        <a href="/"><img id="main_logo"src="/images/37_official.png" alt="37 ry"/></a>
        <span id="slogan">37 ry - parempi kuin mutsis</span>
      </div>
        <nav id="navTop" class="navbar navbar-default">
          {% include navigation.html %}
       </nav>
       </header>
