<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="hFdvLM6WQtXdPlVunlRlTI6mlQLxkeeKPv_Yu7gJdCg" />
    <title>{% if page.title %} {{ page.title }} -  {% endif %} Teekkariristeily</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script type="text/javascript" src="/js/jquery.flipcountdown.js"></script>
<link href="/css/js-image-slider.css" rel="stylesheet" type="text/css" />
    <script src="/js/js-image-slider.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/css/jquery.flipcountdown.css" />
  </head>

  <body>
    <div id="container" style="position: relative">
      <header id="siteHeader">
      <div id="logo_block"></div>
        <nav id="navTop" class="navbar navbar-default">
          {% include navigation.html %}
       </nav>
       </header>
